@import '@angular/material/theming';
@import './assets/fonts/fonts.scss';

// min px value, max second value
$display-4-font-size: calc(36px + 42 * ((100vw - 320px) / 1100));
$display-3-font-size: calc(30px + 30 * ((100vw - 320px) / 1100));
$display-2-font-size: calc(20px + 15 * ((100vw - 320px) / 1100));
$display-1-font-size: calc(15px + 10 * ((100vw - 320px) / 1100));
$caption-font-size: calc(12px + 7 * ((100vw - 320px) / 1100));
$title-font-size: calc(18px + 7 * ((100vw - 320px) / 1100));
$subheading2-font-size: calc(19px + 2 * ((100vw - 320px) / 1100));
$subheading1-font-size: calc(16px + 7 * ((100vw - 320px) / 1100));
$body2-font-size: calc(13px + 7 * ((100vw - 320px) / 1100));
$body1-font-size: calc(12px + 7 * ((100vw - 320px) / 1100));

$responsive-fonts: (
  display-4:
    mat-typography-level($display-4-font-size, $display-4-font-size, 300, 'Roboto', -0.0134em),
  display-3:
    mat-typography-level($display-3-font-size, $display-3-font-size, 400, 'Roboto', -0.0089em),
  display-2: mat-typography-level($display-2-font-size, $display-2-font-size, 400, 'Roboto', 0em),
  display-1:
    mat-typography-level($display-1-font-size, $display-1-font-size, 400, 'Roboto', 0.0074em),
  headline: mat-typography-level(24px, 32px, 400, 'Roboto', 0em),
  title: mat-typography-level($title-font-size, $title-font-size, 500, 'Roboto', 0.01em),
  subheading-2:
    mat-typography-level($subheading2-font-size, $subheading2-font-size, 300, 'Roboto', 0.0074em),
  subheading-1:
    mat-typography-level($subheading1-font-size, $subheading1-font-size, 300, 'Roboto', 0.0074em),
  body-2: mat-typography-level($body2-font-size, $body2-font-size, 300, 'Roboto', 0.0074em),
  body-1: mat-typography-level($body1-font-size, $body1-font-size, 300, 'Roboto', 0.0074em),
  button: mat-typography-level(14px, 14px, 500, 'Roboto', 0.0893em),
  caption: mat-typography-level($caption-font-size, $caption-font-size, 300, 'Roboto', 0.0074em),
  input: mat-typography-level(inherit, 1.125, 400, 'Roboto', 1.5px),
);
@include angular-material-typography($responsive-fonts);

$dark-text: #000000;
$dark-primary-text: rgba($dark-text, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);
$dark-disabled-text: rgba($dark-primary-text, 0.38);
$dark-dividers: rgba($dark-primary-text, 0.12);
$dark-focused: rgba($dark-primary-text, 0.12);

$mat-light-theme-foreground: (
  base: black,
  divider: $dark-dividers,
  dividers: $dark-dividers,
  disabled: $dark-disabled-text,
  disabled-button: rgba($dark-text, 0.26),
  disabled-text: $dark-disabled-text,
  elevation: black,
  secondary-text: $dark-accent-text,
  hint-text: $dark-disabled-text,
  accent-text: $dark-accent-text,
  text: $dark-primary-text,
  slider-min: $dark-primary-text,
  slider-off: rgba($dark-text, 0.26),
  slider-off-active: $dark-disabled-text,
);

$light-text: #ffffff;
$light-primary-text: $light-text;
$light-accent-text: rgba($light-primary-text, 0.7);
$light-disabled-text: rgba($light-primary-text, 0.5);
$light-dividers: rgba($light-primary-text, 0.12);
$light-focused: rgba($light-primary-text, 0.12);

$mat-dark-theme-foreground: (
  base: $light-text,
  divider: $light-dividers,
  dividers: $light-dividers,
  disabled: $light-disabled-text,
  disabled-button: rgba($light-text, 0.3),
  disabled-text: $light-disabled-text,
  elevation: black,
  hint-text: $light-disabled-text,
  secondary-text: $light-accent-text,
  accent-text: $light-accent-text,
  text: $light-text,
  slider-min: $light-text,
  slider-off: rgba($light-text, 0.3),
  slider-off-active: rgba($light-text, 0.3),
);

$light-background: #fafafa;
$light-bg-darker-5: darken($light-background, 5%);
$light-bg-darker-10: darken($light-background, 10%);
$light-bg-darker-20: darken($light-background, 20%);
$light-bg-darker-30: darken($light-background, 30%);
$light-bg-lighter-5: lighten($light-background, 5%);
$dark-bg-tooltip: lighten(#2c2c2c, 20%);
$dark-bg-alpha-4: rgba(#2c2c2c, 0.04);
$dark-bg-alpha-12: rgba(#2c2c2c, 0.12);

$mat-light-theme-background: (
  background: $light-background,
  status-bar: $light-bg-darker-20,
  app-bar: $light-bg-darker-5,
  hover: $dark-bg-alpha-4,
  card: $light-bg-lighter-5,
  dialog: $light-bg-lighter-5,
  tooltip: $dark-bg-tooltip,
  disabled-button: $dark-bg-alpha-12,
  raised-button: $light-bg-lighter-5,
  focused-button: $dark-focused,
  selected-button: $light-bg-darker-20,
  selected-disabled-button: $light-bg-darker-30,
  disabled-button-toggle: $light-bg-darker-10,
  unselected-chip: $light-bg-darker-10,
  disabled-list-option: $light-bg-darker-10,
);

$dark-background: #2c2c2c;
$dark-bg-lighter-5: lighten($dark-background, 5%);
$dark-bg-lighter-10: lighten($dark-background, 10%);
$dark-bg-lighter-20: lighten($dark-background, 20%);
$dark-bg-lighter-30: lighten($dark-background, 30%);
$light-bg-alpha-4: rgba(#fafafa, 0.04);
$light-bg-alpha-12: rgba(#fafafa, 0.12);

$mat-dark-theme-background: (
  background: $dark-background,
  status-bar: $dark-bg-lighter-20,
  app-bar: $dark-bg-lighter-5,
  hover: $light-bg-alpha-4,
  card: $dark-bg-lighter-5,
  dialog: $dark-bg-lighter-5,
  tooltip: $dark-bg-lighter-20,
  disabled-button: $light-bg-alpha-12,
  raised-button: $dark-bg-lighter-5,
  focused-button: $light-focused,
  selected-button: $dark-bg-lighter-20,
  selected-disabled-button: $dark-bg-lighter-30,
  disabled-button-toggle: $dark-bg-lighter-10,
  unselected-chip: $dark-bg-lighter-20,
  disabled-list-option: $dark-bg-lighter-10,
);

body {
  --primary-color: #bb86fc;
  --primary-lighter-color: #ebdbfe;
  --primary-darker-color: #a469fb;
  --text-primary-color: #{$dark-primary-text};
  --text-primary-lighter-color: #{$dark-primary-text};
  --text-primary-darker-color: #{$dark-primary-text};
}
$mat-primary: (
  main: #bb86fc,
  lighter: #ebdbfe,
  darker: #a469fb,
  200: #bb86fc,
  contrast: (
    main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $dark-primary-text,
  ),
);
$theme-primary: mat-palette($mat-primary, main, lighter, darker);

$light-mat-primary: (
  main: #bb86fc,
  lighter: #ebdbfe,
  darker: #a469fb,
  200: #bb86fc,
  contrast: (
    main: $light-primary-text,
    lighter: $light-primary-text,
    darker: $light-primary-text,
  ),
);
$light-theme-primary: mat-palette($light-mat-primary, main, lighter, darker);

body {
  --accent-color: #44efcb;
  --accent-lighter-color: #c7faef;
  --accent-darker-color: #2de8b8;
  --text-accent-color: #{$dark-primary-text};
  --text-accent-lighter-color: #{$dark-primary-text};
  --text-accent-darker-color: #{$dark-primary-text};
}
$mat-accent: (
  main: #44efcb,
  lighter: #c7faef,
  darker: #2de8b8,
  200: #44efcb,
  contrast: (
    main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $dark-primary-text,
  ),
);
$theme-accent: mat-palette($mat-accent, main, lighter, darker);

$light-mat-accent: (
  main: #3700b3,
  lighter: #2b54f8,
  darker: #1a0efa,
  200: #2f19f0,
  contrast: (
    main: $light-primary-text,
    lighter: $light-primary-text,
    darker: $light-primary-text,
  ),
);
$light-theme-accent: mat-palette($light-mat-accent, main, lighter, darker);

body {
  --warn-color: #ff0000;
  --warn-lighter-color: #ffb3b3;
  --warn-darker-color: #ff0000;
  --text-warn-color: #{$light-primary-text};
  --text-warn-lighter-color: #{$dark-primary-text};
  --text-warn-darker-color: #{$light-primary-text};
}
$mat-warn: (
  main: #ff0000,
  lighter: #ffb3b3,
  darker: #ff0000,
  200: #ff0000,
  contrast: (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  ),
);
$theme-warn: mat-palette($mat-warn, main, lighter, darker);

$dark-theme: mat-dark-theme($theme-primary, $theme-accent, $theme-warn);

$light-theme: mat-light-theme($light-theme-primary, $light-theme-accent, $theme-warn);

$background: map-get($light-theme, background);
$bg-color: #ffffff;
$background: map_merge(
  $background,
  (
    background: $bg-color,
    app-bar: $bg-color,
  )
);
$custom-light-theme: map_merge(
  $light-theme,
  (
    background: $background,
  )
);
@mixin section-header-theme($theme) {
  $accent: map-get($theme, accent);

  .animated-line {
    will-change: transform;
    transform: translateZ(0);
    @keyframes travel {
      0% {
        background-position: -380px 0;
      }
      100% {
        background-position: 380px 0;
      }
    }
    animation: travel 6s infinite linear;
    background: linear-gradient(90deg, transparent 0, mat-color($accent) 50%, transparent 50%);
  }
}

.dark-theme {
  @include angular-material-theme($dark-theme);
  @include section-header-theme($dark-theme);
  .background-accent-color {
    background-color: mat-color($theme-accent);
  }
  .accent-color {
    color: mat-color($theme-accent);
  }
  .fill {
    fill: mat-color($theme-accent);
  }
  .hover-1 {
    &:hover {
      filter: brightness(85%);
    }
  }
}
.light-theme {
  @include angular-material-theme($custom-light-theme);
  @include section-header-theme($custom-light-theme);
  .background-accent-color {
    background-color: mat-color($light-theme-accent);
  }
  .fill {
    fill: mat-color($light-theme-accent);
  }
  .accent-color {
    color: mat-color($light-theme-accent);
  }
  .hover-1 {
    &:hover {
      filter: brightness(115%);
    }
  }
}

.nav-item-text {
  font-size: 20px;
}
.mat-raised-button,
.mat-stroked-button {
  padding: 0 1.15em;
  margin: 0 0.65em;
  min-width: 3em;
  line-height: 36.4px;
  &:hover {
    transform: scale(1.1);
  }
}
.mat-ripple {
  overflow: hidden !important;
}
.cdk-visually-hidden {
  visibility: hidden;
}
.text-bold {
  font-weight: bold;
}
